body {
background:url(https://cdn.push-entertainment.com/HD/Hyperstars-3D-Animated-Desktop-Background.jpg)
}
svg {
  background: green;
  display: block;
  margin: auto;
}
p {
  color: red;
   text-align: center;
}
